[Desktop Entry]
Type=Application
Name=EasyKontakt
Name[de_DE]=EasyKontakt
Name[en_US]=EasyKontakt
Comment=Manage VCard contacts
Comment[de_DE]=VCard Kontakte verwalten
Comment[en_US]=Manage VCard contacts
Exec=EasyKontakt %F
Icon=EasyKontakt
Terminal=false
Categories=Office;ContactManagement;
